<div class="header">
  <div class="list">
    <ul style="display: flex; justify-content: center">
      <li>
        <a (click)="navigateToPosition()"> Positions</a>
      </li>
      <li>
        <a (click)="navigateToCandidate()"> Candidates</a>
      </li>
      <li>
        <a (click)="navigateToResults()"> Results</a>
      </li>
    </ul>
  </div>
  <div class="list">
    <button (click)="logout()" class="logout">Logout</button>
  </div>
</div>

<div class="container">
  <div style="width: 49%; border: solid 2px rgb(164, 233, 28)">
    <h1 class="heading">City Voting</h1>
    <div class="vote" *ngFor="let pos of positions.city; let j = index">
      <h2>Vote for {{ pos.name }}</h2>
      <ul>
        <ng-container *ngFor="let can of candidate; let i = index">
          <li *ngIf="pos.name == can.cityPosition">
            <img src="/assets/icon.png" (click)="castCityVote(i)" />
            <h4>{{ can.name }}</h4>
            <p>{{ can.city }}</p>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div style="width: 49%; border: solid 2px rgb(164, 233, 28)">
    <h1 class="heading">Country Voting</h1>
    <div class="vote" *ngFor="let pos of positions.country">
      <h2>Vote for {{ pos.name }}</h2>
      <ul>
        <ng-container *ngFor="let can of candidate; let i = index">
          <li *ngIf="pos.name == can.countryPosition">
            <img src="/assets/icon.png" (click)="castCountryVote(i)" />
            <h4>{{ can.name }}</h4>
            <p>{{ can.city }}</p>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
