.header {
  background-color: #06135f;
  min-height: 50px;
  margin: -8px;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: large;
  margin-right: 20px;
  font-family: cursive;
}

button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 10px;
  background-color: black;
  color: white;
  border: 0;
  width: 100px;
}

h2 {
  color: white;
  font-family: cursive;
}

img {
  width: 100%;
  overflow: auto;
}

h3 {
  position: absolute;
  color: whitesmoke;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
  font-family: cursive;
}

.white {
  color: whitesmoke;
}
