<div class="header" [hidden]="show">
  <div class="header1">
    <div class="list">
      <h2>VOTING APP</h2>
    </div>
    <div class="list">
      <ul style="display: flex; justify-content: center">
        <li><a (click)="toggle()" routerLink="login">Login</a></li>
        <li><a (click)="toggle()" routerLink="register">Register</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="main" [hidden]="!show">
  <router-outlet> </router-outlet>
  <button routerLink="" (click)="show = false">Back</button>
</div>
