<div class="header" [hidden]="show">
  <div class="header1">
    <div class="list">
      <a routerLink="">
        <h2>
          <span class="vote-icon"><i class="fas fa-vote-yea"></i></span> VOTING
          APP
        </h2>
      </a>
    </div>
    <div class="list">
      <ul style="display: flex; justify-content: center">
        <li>
          <a (click)="toggle()" routerLink="login"
            ><span class="white"><i class="fas fa-sign-in-alt"></i></span>
            Login</a
          >
        </li>
        <li>
          <a (click)="toggle()" routerLink="register"
            ><span class="white"><i class="fas fa-user-plus"></i></span>
            Register</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="img">
    <img src="../assets/login.jpg" />

    <h3>Vote Today for a Better Future!</h3>
  </div>
</div>

<div class="main" [hidden]="!show">
  <router-outlet> </router-outlet>
  <button routerLink="" (click)="show = false">Back</button>
</div>
