<div class="main">
  <img src="/assets/login.jpg" />
</div>

<form (ngSubmit)="sendCreds()" [formGroup]="regForm">
  <h1>Create an Account</h1>
  <label>User Name<span>*</span></label>
  <input
    type="text"
    placeholder="&#xf007; Enter your username"
    formControlName="userName"
    class="icon-input"
  />
  <label>Password<span>*</span></label>
  <input
    type="password"
    placeholder="&#xf084; Enter your password"
    formControlName="password"
    class="icon-input"
  />
  <button [disabled]="regForm.invalid" type="submit">Register</button>
  <p>Already have an account? <a (click)="navigate()">Login</a></p>
</form>
